In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/ship_fuel_efficiency.csv')
df.head()

In [7]:
df.columns

Index(['ship_id', 'ship_type', 'route_id', 'month', 'distance', 'fuel_type',
       'fuel_consumption', 'CO2_emissions', 'weather_conditions',
       'engine_efficiency', 'fuel_efficiency', 'fuel_usage'],
      dtype='object')

In [ ]:
import importlib
import fncts as fn

In [ ]:
importlib.reload(fn)

top_n is from fncts.py

In [20]:
top_dist = fn.top_n(df,'distance',5)
top_dist

,ship_id,ship_type,route_id,month,distance,fuel_type,fuel_consumption,CO2_emissions,weather_conditions,engine_efficiency,fuel_efficiency,fuel_usage
793,NG067,Tanker Ship,Lagos-Apapa,February,498.55,Diesel,22973.21,62936.17,Stormy,70.49,0.021701,4
975,NG082,Tanker Ship,Lagos-Apapa,April,498.18,HFO,17122.71,49536.57,Moderate,80.44,0.029095,4
95,NG008,Tanker Ship,Lagos-Apapa,December,497.16,Diesel,24648.52,62802.03,Calm,72.14,0.020170,4
438,NG037,Tanker Ship,Port Harcourt-Lagos,July,495.50,HFO,23070.00,59047.14,Calm,92.07,0.021478,4
49,NG005,Tanker Ship,Escravos-Lagos,February,494.24,HFO,18375.75,46753.73,Stormy,94.18,0.026896,4

In [22]:
top_fuel = fn.top_n(df,'fuel_consumption',5)
top_fuel

,ship_id,ship_type,route_id,month,distance,fuel_type,fuel_consumption,CO2_emissions,weather_conditions,engine_efficiency,fuel_efficiency,fuel_usage
95,NG008,Tanker Ship,Lagos-Apapa,December,497.16,Diesel,24648.52,62802.03,Calm,72.14,0.020170,4
134,NG012,Tanker Ship,Warri-Bonny,March,490.16,Diesel,24321.40,71871.21,Calm,93.41,0.020153,4
570,NG048,Tanker Ship,Lagos-Apapa,July,487.89,HFO,23503.71,65937.46,Calm,76.15,0.020758,4
438,NG037,Tanker Ship,Port Harcourt-Lagos,July,495.50,HFO,23070.00,59047.14,Calm,92.07,0.021478,4
793,NG067,Tanker Ship,Lagos-Apapa,February,498.55,Diesel,22973.21,62936.17,Stormy,70.49,0.021701,4